html[theme="dark"] {
    background-color: #171717 !important;
}
html[theme="dark"] {
    filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
    -webkit-filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
}
html[theme="dark"] body {
    background-color: #FFF !important;
}
html[theme="dark"]
img,
video,
body * [style*="background-image"] {
    filter: hue-rotate(180deg) contrast(100%) invert(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
}
html:not([theme="dark"]) .day-btn {
    display: none;
}
html[theme="dark"] .night-btn {
    display: none;
}